<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <header>
     <a href="\">Home</a>
    <a href="\insert">Insert</a>
    <a href="\display">Display</a>
    <a href="\update">Update</a>
    <a href="\delete">Delete</a>
   </header>

   <section>
    <h1>This is for Insert Data</h1>

    <form action="/submit" method="post">

        <input type="text" placeholder="Enter Your Name " name="name">
        <input type="text" placeholder="Enter Your Age " name="age">
        <input type="text" placeholder="Enter Your Branch " name="branch">

        <button>Submit</button>
    </form>
   </section>

   <footer>
    <h4>This is Footer Section</h4>
   </footer>
</body>
</html>