<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insert</title>
</head>
<body>
        <a href="/">Home</a>
    <a href="/insert">Insert</a>
    <a href="/display">Display</a>
    <a href="/update">Update</a>
    <a href="/search">Search</a>

    <hr />

    <form   action="/savedata" method="post"><br/><br/>
        Enter Emp Id : <input type="text" name="id"><br/><br/>
        Enter Name  : <input type="text" name="name"><br/><br/>
        Enter Position  : <input type="text" name="position"><br/><br/>
        Enter Salary  : <input type="text" name="salary"><br/><br/>

        <button type="submit">Save</button>
    </form>

    <footer>
        <p>This is footer Section!</p>
    </footer>
</body>
</html>